.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button {
  border: none;
  border-radius: 6px;
  padding: 12px;

  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.btnOne {
  background-color: #E0E0E0;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btnTwo {
  background-color: #AEAEAE;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btnTwo:hover {
  background-color: red;
  color: darkblue;
}

.btnTwo:focus {
  background-color: violet;
  color: greenyellow;
}

.btnThree {
  color: blue;
  border: blue 1px solid;
  background-color: white;
}

.btnFour {
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3D5AFE;
  color: blue;
  border: blue 1px solid;
}

.btnFour:hover {
  background-color: green;
  color: white;
}

.btnFour:focus {
  background-color: darkgoldenrod;
  color: gold;
}

.btnFive	{
  background-color: white;
  color: blue;
}

.btnSix	{
  background: rgba(41, 98, 255, 0.1);
  color: blue;
}

.btnSix:focus {
  color: #D32F2F;
  background-color: hotpink;
}

.btnSix:hover {
color: #ffffff;
background-color: yellow;  
}

.btSeven {
  background: #3D5AFE;
  color: white;
}

.btnEight	{
  background: #E0E0E0;
  color: #9E9E9E;
}

.btnNine	{
  color: #9E9E9E;
  background-color: white;
}

.btnTen {
  background: #2962FF;
  color: white;
  padding-left: 33px;
  box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
}

.btnTen::before {
  content: url("./add_shopping_cart-black-18dp.svg");
  width: 100%;
  display: block;
  margin-left: -49px;
  margin-bottom: -21px;
}

.btnEleven {
  background: #2962FF;
  color: white;
  padding-right: 33px;
  box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
}

.btnEleven::after {
  content: url("./add_shopping_cart-black-18dp.svg");
  width: 100%;
  display: block;
  margin-left: 50px;
  margin-top: -19px;
}

.btnTwelve	{
  background: #2962FF;
  padding: 6px;
  color: white;
  box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
}

.btnThirteen {
  background: #2962FF;
  color: white;
  padding: 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.btnFourteen	{
  background: #2962FF;
  padding: 20px;
  color: white;
  box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);

}

.btnFifteen	{
  background: #E0E0E0;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btnSixteen	{
  background: #2962FF;
  color: white;
  box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}


.btnSeventeen	{
  background: #455A64;
  color: white;
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
}

.btnEighteen	{
  background: #AEAEAE;
  color: white;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btnNineteen{
  background: #0039CB;
  color: #ffffff;
 box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.btnTwenty {
  background: #D32F2F;
  color: #ffffff;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
}

.btnEighteen {
  color: black;
  background: #AEAEAE;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btnEighteen:hover {
  background-color: pink;
  color: yellow;
}

.btnNineteen {
  background: #0039CB;
  color: white;
  box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.btnTwenty {
  background: #1C313A;
  color: #ffffff;
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
}

.btnTwentyone {
  background: #9A0007;
  color: #ffffff;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
}


.btnTwentytwo {
  background: #9A0007;
  color: #ffffff;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);

}
